TheRoom/.gradle
TheRoom/local.properties
TheRoom/.idea/workspace.xml
TheRoom/.idea/libraries
.DS_Store
TheRoom/build
TheRoom/captures
TheRoom/.externalNativeBuild
TheRoom/.idea/
FirebaseCloudFunctions/functions/node_modules
